/* persos infini */

body {
  background: radial-gradient(circle,#4C7CAB,#476998);
}

#button {
  color: #4c7cab;
  background: #f4f4f4;
}

button[type=submit] {
  color: #4c7cab;
  background: #f4f4f4;
  text-align: center; 
  border-radius: 0.1rem;
  padding: 0.1rem;
  box-shadow: #ddd 0 1px 0;
  min-height: 100%;
}

#button:hover,
button[type=submit]:hover {
  border: 2px solid #ddd;
  color: #476998;
  background: #eee;
  box-shadow: #ccc 0 1px 0;
}

#chapo {
  text-align: center;
  color: #fff;
  padding-top: 2em;
}

#chapo h1 {
  margin-top: 0;
  text-transform: uppercase;
}